html, body, section {
	margin: 0;
	padding: 0;
}

@media all and (min-width: 900px){
	section {
		height: 100vh;
	}
}

section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}



#sek1 {
	/*background-image: url(images/rynek.jpg);*/
	height: 100vh;
}

#sek2 {
	/*background-image: url(images/biuro.jpg);*/
	background-color: #232323;
	color: #FFF;
	text-align: center;
}

#sek3 {
	background-image: url(images/biuro.jpg);
}

#sek4 {
	/*background-image: url(images/4.jpg);*/
	height: 100vh;
}



.navPoints > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navPoints > nav a {
	display: block;
	position: relative;
	color: transparent;
	height: 50px;

}

.navPoints > nav ul {
	list-style-type: none;
}

.navPoints > nav a:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 4px solid #808080;
}

.navPoints > nav a:hover:after {
	background: rgba(255,255,255,0.6);
}

@media all and (max-width: 991px){
	.menu {
		display: none;
	}
	.ham_icon {
		float: left;
		left: 0;
		height: 100%;
		width: 80px;
		position: absolute;
		z-index: 5;
	}
	.ham_icon i {
		position: absolute;
		left: 25%;
		margin-top: 30%;
	}
	h1{
		left: 10%;
	}
}
@media all and (min-width: 991px){
	.ham{
		display: none;
	}
}

.ham_menu{
	display: none;
}

.ham_menu div {
	padding: 0;
}

.ham_menu ul {
			border-radius: 5px;
	    list-style-type: none;
			padding: 0;
}
.ham_menu ul li{
	padding: 10px;
	background: #c0bebf;
	text-align: center;
}
.ham_menu ul li:hover{
	padding: 10px;
	background: #666666;
	color: #FFF;
}
.ham_menu ul a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	text-decoration: none;
	z-index: 10;
	/*color: #666666;*/
}

.ham_menu ul li a:hover {
	/*color: #FFF;*/
}

header {
	background-color: transparent;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.notTransp{
		background-color: #008080;
}

header {
	background-color: transparent;
	position: fixed;
	z-index: 10;
	width: 100%;
}

header h1 {
	float: left;
	position: relative;
	margin-left: 20px;
}
header nav ul {
    list-style-type: none;
    margin: 15px 10px 0 5px;
    padding: 0;
}
header nav li {
    float: right;
		margin-right: 30px;
}
header nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav a:hover {
		  text-decoration: none;
			color: #FFF;
}

.main1 {
	height: 100%;
	padding: 0 20% 0 20%;
}

.main1 ol{
	margin-bottom: 150px;
}

/*.sek1 > div h2{
	margin-top: 220px;
	font-size: 40px;
}*/

.sek1 .item h2{
	margin-top: 220px;
	font-size: 100px;
	font-weight: 900;
	color: #FFF;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
}
.sek1 .item p {
	text-align: center;
	color: #FFF;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;
}

.sek1 > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.sek2 h2 {
	font-size: 50px;
	margin-top: 80px;
}

.sek2 article {
	padding: 0 15px 0 15px;
	text-align: left;
}
.sek2 button {
	float: right;
}

.sek2 figure {
	position: relative;
	border-radius: 50%;
	box-shadow: 3px 0 15px rgba(0, 0, 0, .8);
}

.sek2 img {
	object-fit: cover;
}

.firma_element{
	padding-bottom: 40px;
}

/*.contentdiv {
	float: left;
	width: 30%;
	margin: 1%;
}*/

.arrow-down {
	z-index: 10;
	position: absolute;
	top: 95%;
	left: 45%;

}

.arrow-down-btn{
		border-radius: 50%;
		background-color: black;
		height: 60px;
		width: 60px;
}

.sek3 h2 {
	text-align: center;
	margin-top: 5%;
	font-size: 50px;
}
.sek3 h3 {
	text-align: center;
}

.rn {
	margin-bottom: 40px;
}
.sek3 article {
	text-align: center;
}

.productImg img {
	object-fit: cover;
	height: 100%;
}

.productImg {
	height: 150px;
	width: 200px;
	background-color: pink;
	float: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#map {
	width: 100%;
	height: 100%;
}
.info_box{
		position: absolute;
		height: 200px;
		min-width: 180px;
		border-radius: 15%;
		background-color: rgba(255, 100, 50, 0.5);;
		z-index: 999;
		top: 230px;
		left: 60%;
		text-align: center;
}

.sek4 h2 {
	color: #FFF;
	font-size: 50px;
	margin-top: 30px;
	text-align: center;
}

.hide {
	display: none;
}

footer {
	min-height: 200px;
	background-color: #232323;
	color: #FFF;
	text-align: center;
	font-size: 16px;
}

footer h4 {
	margin-top: 50px;
	color: #919496;
	font-size: 20px;
}
