html, body, section {
	height: 100%;
	margin: 0;
	padding: 0;
}

section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}

#sek1 {
	/*background-image: url(images/rynek.jpg);*/
}

#sek2 {
	/*background-image: url(images/biuro.jpg);*/
	background-color: #232323;
}

#sek3 {
	background-image: url(images/biuro.jpg);
}

#sek4 {
	/*background-image: url(images/4.jpg);*/
	background-color: #232323;
}



.navPoints > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navPoints > nav a {
	display: block;
	position: relative;
	color: transparent;
	height: 50px;

}

.navPoints > nav ul {
	list-style-type: none;
}

.navPoints > nav a:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 4px solid #808080;
}

.navPoints > nav a:hover:after {
	background: rgba(255,255,255,0.6);
}

header {
	background-color: transparent;
	position: fixed;
	z-index: 10;
	width: 100%;
}

header h1 {
	float: left;
	position: relative;
	margin-left: 20px;
}
header nav ul {
    list-style-type: none;
    margin: 15px 10px 0 5px;
    padding: 0;
}
header nav li {
    float: right;
		margin-right: 30px;
}
header nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
	width: 88%;
	position: absolute;
	color: #FFF;
	text-align: center;
	/*text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);*/
}

.main1 {
	height: 100%;
	padding: 0 20% 0 20%;
}

.main1 ol{
	margin-bottom: 150px;
}

/*.sek1 > div h2{
	margin-top: 220px;
	font-size: 40px;
}*/

.sek1 .item h2{
	margin-top: 220px;
	font-size: 100px;
	font-weight: 900;
	color: #FFF;
	text-shadow: 2px 2px 4px #000000;
	text-align: center;
}
.sek1 .item p {
	text-align: center;
	color: #FFF;
	font-size: 20px;
	text-shadow: 2px 2px 4px #000000;
}

.sek1 > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.sek2 h2 {
	font-size: 50px;
	margin-top: 80px;
}

.sek2 article {
	padding: 0 15px 0 15px;
	text-align: left;
}
.sek2 button {
	float: right;
}

.sek2 figure {
	position: relative;
	border-radius: 50%;
	box-shadow: 3px 0 15px rgba(0, 0, 0, .8);
}

.sek2 img {
	object-fit: cover;
}

/*.contentdiv {
	float: left;
	width: 30%;
	margin: 1%;
}*/

.arrow-down {
	z-index: 10;
	position: absolute;
	top: 95%;
	left: 45%;

}

.arrow-down-btn{
		border-radius: 50%;
		background-color: black;
		height: 60px;
		width: 60px;
}

.sek3 h2 {
	text-align: center;
	margin-top: 5%;
	font-size: 50px;
}
.sek3 h3 {
	text-align: center;
}

.rn {
	margin-bottom: 40px;
}
.sek3 article {
	text-align: center;
}

.productImg img {
	object-fit: cover;
	height: 100%;
}

.productImg {
	height: 150px;
	width: 200px;
	background-color: pink;
	float: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#map {
	width: 800px;
	height: 400px;
	margin-top: 70px;
	margin-left: 15%;
}
#test {
	width: 100%;
	height: 400px;
	background-color: black;
	margin: 0;
}
.sek4 h2 {
	color: #FFF;
	font-size: 50px;
	margin-top: 30px;
	text-align: center;
}
