html, body, section {
	height: 100%;
	margin: 0;
	padding: 0;
}

section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}

#sek1 {
	/*background-image: url(images/rynek.jpg);*/
}

#sek2 {
	background-image: url(images/2.jpg);
}

#sek3 {
	background-image: url(images/3.jpg);
}

#sek4 {
	background-image: url(images/4.jpg);
}

#sek5 {
	background-image: url(images/5.jpg);
}


.navPoints > nav {
	position: fixed;
	z-index: 9999;
	right: 100px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.navPoints > nav a {
	display: block;
	position: relative;
	color: transparent;
	height: 50px;

}

.navPoints > nav ul {
	list-style-type: none;
}

.navPoints > nav a:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 4px solid #fff;
}

.navPoints > nav a:hover:after {
	background: rgba(255,255,255,0.6);
}

header {
	background-color: transparent;
	position: fixed;
	z-index: 10;
	width: 100%;
}

header h1 {
	float: left;
	position: relative;
	margin-left: 20px;
}
header nav ul {
    list-style-type: none;
    margin: 15px 10px 0 5px;
    padding: 0;
}
header nav li {
    float: right;
		margin-right: 30px;
}
header nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sek1 > div {
	width: 100%;
	position: absolute;
	top: 36%;
	color: white;
	text-align: center;
	text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.sek1 > div h2{
	font-size: 40px;
}

.sek1 > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
